.card-header h3{
      overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight-card{
    border: 3px solid green !important;
    box-shadow: 0 0 15px rgba(0,128,0,0.5);
    transition: all .5s ease;
}